* {
  box-sizing: border-box;
}

@keyframes pojavljivanje {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes rotacija {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fc5c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6a82fb,
    #fc5c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6a82fb,
    #fc5c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding-block: 2rem;
}

input {
  width: min(400px, 80%);
  padding: 1rem;
  font-size: 1.2rem;
  background-color: rgb(242, 242, 242, 0.5);
  outline: 2px solid rgb(188, 68, 188);
  border-color: transparent;
  border-radius: 5px;
}

input:is(:active, :hover, :focus) {
  outline: 2px solid rgb(112, 19, 112);
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

li {
  animation-name: pojavljivanje;
  animation-duration: 1s;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  gap: 1rem;
}

.hide {
  display: none;
}

#loading {
  height: 80px;
  width: 80px;
  border: 10px dotted black;
  border-radius: 100%;
  margin-block: 20px;
  animation: rotacija 3s infinite linear;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
